body{background-color: aquamarine;}
.profile-img{
    border: 2px solid black;
    width: 300px; height: 250px;
    margin-bottom: 50px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}